<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clearlayout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Novo Usuarios</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${user.id == null}">Novo Usu√°rio</h1>
		<h1 th:if="${user.id != null}">Editar Usu√°rio</h1>
		<hr />
		<form th:action="@{/users}" th:method="@{${user.id == null} ? 'post' : 'put'}"
			th:object="${user}">
			<input type="hidden" th:field="*{id}" /> 
				<div class="form-group"> 
					<label for="nome">Nome</label>  
					<input id="nome" name="nome" type="text" class="form-control" th:field="*{nome}" placeholder="Nome" required maxlength=45/>  
					<div th:if="${#fields.hasErrors('nome')}">
						<div class="alert alert-danger">
							Por favor insira um nome v·lido.
						</div>
					</div>
				</div> 
				
				<div class="form-group"> 
					<label for="login">Login</label>  
					<input id="login" name="login" type="text" class="form-control" th:field="*{login}" placeholder="Login" required/>
					<div th:if="${#fields.hasErrors('login')}">
						<div class="alert alert-danger">
							Por favor insira um login v·lido.
						</div>
					</div>
				</div> 
				
				<div class="form-group"> 
					<label for="password">Senha</label>  
					<input id="password" name="password" type="password" class="form-control" th:field="*{password}" placeholder="Password" required/>  
					<div th:if="${#fields.hasErrors('password')}">
						<div class="alert alert-danger">
							Por favor insira uma senha v·lida.
						</div>
					</div>
				</div> 
				
				<div class="form-group"> 
					<label for="email">Email</label>  
					<input id="email" name="email" type="text" class="form-control" th:field="*{email}" placeholder="exemplo@mail.com" required />  
					<div th:if="${#fields.hasErrors('email')}">
						<div class="alert alert-danger">
							Por favor insira um email v·lido.
						</div>
					</div>
				</div>

			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/users}" class="btn btn-default">Voltar</a>
		</form>
	</div>
</body>
</html>