<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Novo Livro em Coleção</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${collection.id == null}">Novo Registro</h1>
		<h1 th:if="${collection.id != null}">Editar Registro</h1>
		<hr />
		<form th:action="@{/collections}" th:method="@{${collection.id == null} ? 'post' : 'put'}"
			th:object="${collection}">
			<input type="hidden" th:field="*{id}" />
			
			<div class="form-group"> 
        	<label class="control-label" for="addedOn">Date</label>
      	 	<input class="form-control" id="addedOn" name="addedOn" placeholder="dd/MM/yyyy" disabled type="text" th:field="*{addedOn}"/>
      		</div>
			 
			 <div class="form-group" th:object="${user}">
				 <select name="user" class="form-control">
					 <option value="" th:disabled="disabled">Selecione o Usuario</option>
			 		 <option th:if="${collection.id == null}" th:each="user : ${users}" th:value="${user.id}" th:text="${user.nome}"></option>
			 		 <option th:if="${collection.id != null}" th:value="${users.id}" th:text="${users.nome}" selected="selected" ></option>
				</select>	
			 </div>
			 
			 <div class="form-group" th:object="${book}">
				 <select name="book" class="form-control">
					 <option value="" th:disabled="disabled">Selecione o Livro</option>
			 		 <option th:if="${collection.id == null}" th:each="book : ${books}" th:value="${book.id}" th:text="${book.titulo}"></option>
			 		 <option th:if="${collection.id != null}" th:value="${books.id}" th:text="${books.titulo}" selected="selected"></option>
				</select>	
			 </div>

			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/collections}" class="btn btn-default">Voltar</a>
		</form>
	</div>
</body>
</html>