<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Mostrar Livros</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Mostrar Livros</h1>
		<hr />
		<div class="form-group"> 
			<label for="ISBN">ISBN: </label>  
			<span th:text="${book.ISBN}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="titulo">Titulo: </label>  
			<span th:text="${book.titulo}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="autor">Autor: </label>  
			<span th:text="${book.autor}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="data_publicacao">Data de Publicação: </label>  
			<span th:text="${book.dataP}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="thumbnail">Thumbnail: </label>  
			<span th:text="${book.thumbnail}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="idioma">Idioma: </label>  
			<span th:text="${book.idioma}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="descricao">Descrição: </label>  
			<span th:text="${book.descricao}"></span> 
		</div> 
		<div class="form-group"> 
			<label for="media">Média: </label>  
			<span th:text="${book.media}"></span> 
		</div>		
		
		<a th:href="@{/books/{id}/edit(id = ${book.id})}" class="btn btn-info">Editar Livro</a>
		<a th:attr="data-id=${book.id}" data-toggle="modal" href="#myModal" class="open-RemoveBookDialog btn btn-danger">Excluir Livro</a>
		
	</div>
</body>
</html>