<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Novo Desejo</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${wishList.id == null}">Novo Desejo</h1>
		<h1 th:if="${wishList.id != null}">Editar Desejo</h1>
		<hr />
		<form th:action="@{/wishLists}" th:method="@{${wishList.id == null} ? 'post' : 'put'}"
			th:object="${wishList}">
			<input type="hidden" th:field="*{id}" /> 
			
			<div class="form-group"> 
        	<label class="control-label" for="addedOn">Date</label>
      	 	<input class="form-control" disabled id="addedOn" name="addedOn" placeholder="dd/MM/yyyy" type="text" th:field="*{addedOn}"/>
      		</div>
      		
			 <div class="form-group" th:object="${user}">
				 <select name="user" class="form-control">
					 <option value="" th:disabled="disabled">Selecione o Usuario</option>
			 		 <option th:if="${wishList.id == null}" th:each="user : ${users}" th:value="${user.id}" th:text="${user.nome}"></option>
			 		 <option th:if="${wishList.id != null}" th:value="${users.id}" th:text="${users.nome}"></option>
				</select>	
			 </div>
			 
			 <div class="form-group" th:object="${book}">
				 <select name="book" class="form-control">
					 <option value="" th:disabled="disabled">Selecione o Livro</option>
			 		 <option th:if="${wishList.id == null}" th:each="book : ${books}" th:value="${book.id}" th:text="${book.titulo}"></option>
			 		 <option th:if="${wishList.id != null}" th:value="${books.id}" th:text="${books.titulo}"></option>
				</select>	
			 </div>

			<button type="submit" class="btn btn-success">Salvar</button>
			<a th:href="@{/wishLists}" class="btn btn-default">Voltar</a>
		</form>
	</div>
</body>
</html>